    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        scroll-behavior: smooth;
    }
    
    .contact_links {
        display: flex;
        justify-content: space-evenly;
        margin: 20px;
        text-align: center;
        font-family: 'Crimson Text', serif;
        font-size: 20px;
    }
    
    #phone {
        color: #ADEFD1FF;
    }
    
    #email {
        color: #ADEFD1FF
    }
    
    body {
        background: linear-gradient(228deg, rgba(0, 32, 63, 1) 23%, rgba(173, 239, 209, 1) 100%);
        font-family: 'Work Sans', sans-serif;
    }
    
    .backgroundimage img {
        width: 100%;
        height: 700px;
    }
    
    #jobtitle {
        font-size: 30px;
        text-align: center;
        margin-left: 80px;
    }
    
    a {
        text-decoration: none;
    }
    
    .sticky_nav {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1;
    }
    
    .navigation {
        padding-top: 10px;
    }
    
    .navigation ul {
        display: flex;
    }
    
    .navigation li {
        justify-content: right;
    }
    
    .navigation a {
        text-align: center;
    }
    
    .nav_bar {
        display: flex;
        padding-top: 10px;
        background-color: #ADEFD1FF;
        width: 100%;
        height: 100px;
        margin-bottom: 40px;
    }
    
    .backgroundimage {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #jobtitle {
        font-size: 90px;
        text-align: center;
        padding: 10px;
    }
    
    .header {
        color: #00203FFF;
        padding-left: 40px;
        font-size: 25px;
    }
    
    .about-me {
        color: #ffff;
        padding: 50px;
    }
    
    .about-me h2 {
        font-size: 60px;
        text-align: center;
    }
    
    .about-me p {
        padding-top: 50px;
        font-size: 30px;
    }
    
    .my-work {
        height: 800px;
    }
    
    .work {
        margin-left: 30px;
        height: 800px;
        color: #ffff;
    }
    
    .work h2 {
        text-align: center;
        font-size: 50px;
        padding-bottom: 20px;
    }
    
    .work p {
        padding-top: 30px;
        font-size: 20px;
    }
    
    #profile-photo {
        width: 600px;
    }
    
    .project-images {
        display: flex;
    }
    
    #day-planner-img {
        width: 320px;
        height: 300px;
        margin-left: 100px;
    }
    
    #first-text {
        text-align: center;
        color: white;
        margin-right: 70px;
    }
    
    #passwordgen-img {
        width: 300px;
        height: 300px;
    }
    
    #brain-breaks-img {
        width: 300px;
        height: 300px;
    }
    
    #brain-text {
        margin-right: 90px;
        text-align: center;
    }
    
    #pass-text {
        margin-right: 90px;
        text-align: center;
    }
    
    .contact {
        color: #ffff;
        border-radius: 10px;
        margin: 20px;
        padding: 100px;
    }
    
    .contact h2 {
        text-align: center;
        font-size: 50px;
    }
    
    #email-btn {}
    
    .container {
        padding-left: 180px;
    }
    
    .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: grey;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }
    
    .container:hover .overlay {
        bottom: 0;
        height: 100%;
    }
    
    .email-to {
        white-space: nowrap;
        color: white;
        font-family: Arial;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    .email-text {
        margin: 20px;
        text-align: left;
    }
    
    .phone-text {
        margin: 20px;
        text-align: left;
    }
    
    .resume {
        color: #ffff;
        border-radius: 10px;
        margin: 20px;
        padding: 100px;
        box-shadow: 10px 5px 5px slategray;
    }
    
    .resume h2 {
        font-size: 50px;
    }
    
    .resume p {
        padding-top: 50px;
        font-size: 30px;
    }
    
    .footer-name {
        margin: 100px;
        text-align: center;
    }
    
    .form-box {
        width: 300px;
        margin: auto;
    }
    
    #github-projects {
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-left: 150px;
    }
    
    #github-projects-1 {
        height: 40px;
        width: 40px;
        margin-top: 20px;
        margin-left: 240px;
    }
    
    #github-icon {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    
    #linkedin-icon {
        height: 40px;
        width: 40px;
        margin-top: 10px;
    }
    
    #projects {
        color: #00203FFF;
        font-size: 25px;
    }
    
    .about_me {
        margin-top: 300px;
    }
    
    #about {
        color: #00203FFF;
        font-size: 25px;
    }
    
    #contact-me {
        color: #00203FFF;
        font-size: 25px;
    }
    
    #my-resume {
        color: #00203FFF;
        font-size: 25px;
    }
    
    #input-email {
        width: 300px;
    }
    
    #email-label {
        color: white;
        font-size: 20px;
    }
    
    #message-label {
        color: white;
        font-size: 20px;
    }
    
    #message-box {
        width: 300px;
        height: 100px;
    }
    
    #send-btn {
        margin-left: 80px;
    }
    /*  */
    
    @media screen and (max-width: 700px) {
        .contact_links {
            margin: 10px;
            font-family: 'Crimson Text', serif;
        }
        #name-title {
            font-size: 12px;
        }
        #phone {
            display: inline;
            font-size: 10px;
            color: #ADEFD1FF;
        }
        #email {
            display: inline;
            font-size: 10px;
            color: #ADEFD1FF
        }
        body {
            background: linear-gradient(228deg, rgba(0, 32, 63, 1) 23%, rgba(173, 239, 209, 1) 100%);
            font-family: 'Work Sans', sans-serif;
        }
        #jobtitle {
            font-size: 30px;
            margin-left: 30px;
        }
        a {
            text-decoration: none;
        }
        .nav_bar {
            background-color: #ADEFD1FF;
            width: 100%;
            height: 75px;
        }
        .navigation {
            width: 75%;
            display: flex;
        }
        .navigation li {
            align-items: flex-start;
        }
        .backgroundimage {
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .header {
            color: #00203FFF;
            padding-left: 5px;
            font-size: 5px;
        }
        .about-me {
            color: #ffff;
            padding: 50px;
        }
        .about-me h2 {
            font-size: 60px;
            text-align: center;
        }
        .about-me p {
            padding-top: 50px;
            font-size: 30px;
        }
        .my-work {
            height: 1500px;
        }
        .work {
            display: flex;
            flex-direction: column;
            height: 1500px;
            color: #ffff;
            padding: 50px;
        }
        .work h2 {
            margin-right: 70px;
            text-align: center;
            font-size: 50px;
        }
        .work p {
            padding-top: 50px;
            font-size: 20px;
        }
        #profile-photo {
            height: 200px;
            width: 200px;
            margin-top: 50px;
        }
        .project-images {
            display: flex;
            flex-direction: column;
        }
        #day-planner-img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            margin-left: 40px;
        }
        #first-text {
            text-align: center;
            color: white;
            padding: 20px;
        }
        #passwordgen-img {
            width: 200px;
            height: 200px;
            margin-bottom: 20px;
            margin-left: 40px;
        }
        #brain-breaks-img {
            width: 200px;
            height: 210px;
            margin-bottom: 20px;
            margin-left: 40px;
        }
        #github-projects {
            height: 40px;
            width: 40px;
            margin-left: 120px;
        }
        #github-projects-1 {
            height: 40px;
            width: 40px;
            margin-left: 120px;
        }
        #brain-text {
            padding: 30px;
        }
        #pass-text {
            padding: 35px;
        }
        .contact {
            color: #ffff;
            height: 600px;
        }
        .contact h2 {
            text-align: center;
            font-size: 50px;
        }
        .container {
            display: flex;
            flex-direction: column;
            padding-left: 1px;
        }
        #email-btn {
            margin-bottom: 20px;
            padding-left: 5px;
        }
        #phone-btn {
            padding-left: 5px;
        }
        .email-text {
            font-size: 7px;
            text-align: center;
        }
        .phone-text {
            font-size: 7px;
            text-align: center;
        }
        .resume {
            color: #ffff;
            border-radius: 10px;
            margin: 20px;
            padding: 100px;
            box-shadow: 10px 5px 5px slategray;
        }
        .resume h2 {
            font-size: 50px;
        }
        .resume p {
            padding-top: 50px;
            font-size: 30px;
        }
        .footer-name {
            margin: 100px;
            text-align: center;
        }
        .form-box {
            width: 300px;
            margin: auto;
        }
        #github-icon {
            height: 15px;
            width: 15px;
            margin-top: 10px;
        }
        #linkedin-icon {
            height: 15px;
            width: 15px;
            margin-top: 10px;
        }
        #projects {
            color: #00203FFF;
            font-size: 7px;
        }
        .about_me {
            margin-top: 300px;
        }
        #about {
            color: #00203FFF;
            font-size: 7px;
        }
        #contact-me {
            color: #00203FFF;
            font-size: 7px;
        }
        #my-resume {
            color: #00203FFF;
            font-size: 7px;
        }
        #input-email {
            width: 300px;
        }
        #email-label {
            color: white;
            font-size: 20px;
        }
        #message-label {
            color: white;
            font-size: 20px;
        }
        #message-box {
            width: 300px;
            height: 100px;
        }
        #send-btn {
            margin-left: 80px;
        }
    }